@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
      font-family: "Roboto", sans-serif;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cart{
    background-color: yellow;
    border-radius:5px;
    padding: 10px;
    margin: 10px;
    /* display: inline; */
    
}
h1{
    margin: 10px;
}
.red-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    background-color: red;
}
.blue-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    background-color: blue;

}
.violet-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    background-color: violet;

}
.yellow-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    background-color: yellow;

}