@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
      font-family: "Roboto", sans-serif;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container1{
    background-color: tomato;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container2{
    background-color:yellow;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container3{
     background-color:violet;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}